<h1>WEB APP</h1>
<h2>Bienvenido</h2>
<form action="/signup" method="get">
	<button type="submit" formaction="/signup">Registrate</button>
</form>
<br>
<br>
<form action="/login" method="post">
  Email:      <input type="text" name="email"><br><br>
  Contraseña: <input type="password" name="password"><br><br>
  <button type="submit">Inicia Sesion</button>
</form>

<% if @error %>
	<p><%= @error %></p>
	<% session.clear %>
<% end %>

