<h1>Registrate</h1>
<form action="/secret" method="post">
  Nombre:      <input type="text" name="name"><br><br>
  Email:      <input type="text" name="email"><br><br>
  Contraseña: <input type="text" name="password"><br><br>
  <button type="submit">Registrate</button>
</form>